@CHARSET "UTF-8";

.container {
	margin: 50px auto;
	width: 500px;
	border: none;
	text-align: left;
}

.p {
	text-align: left;
	font-size: 16px;
	margin: 20px 0px 10px 50px;
}

.border {
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	margin: 10px 0px 10px 50px;
}

.button {
	width: 400px;
	height: 40px;
	border: 0px none;
	font-size: 16px;
}

.containerC {
		width: 75px;
		display: inline-block;
	}
	.img {
		width: 75px;
		height: 50px;
		border: 1px solid #EEE;
	}
	.item {
		text-align: right;
		margin-top: 5px;
		height: 15px;
		font-size: 13px;
	}
	.price {
		text-align: right;
		height: 30px;
	}
	 .body2 {
	 margin: 50px auto;
	width: 400px;
	border: none;
	text-align: left;

}