@CHARSET "UTF-8";

.container1 {
	padding: 0px 25px 100px 25px;
}

.container2 {
	height: 50px;
}

.menu {
	padding: 10px;
	float: left;
}

.menu a {
	font-size: 18px;
	margin-left: 30px;
}

.top {
	width: 50%;
}

#logo {
	float: left;
}

#site {
	float: right;
	text-align: right;
}

#site a {
	font-size: 13px;
	margin-left: 5px;
	margin-right: 5px;
}

.search {
	padding: 0 25px 10px 25px;
	text-align: right;
}

#box {
	padding: 0px 1.1em;
	border: 0 none;
	padding: 10px;
	width: 200px;
	font-size: 15px;
	border: 1px solid #EEE;
}

#button {
	color: white;
	padding: 11px 20px;
	font-size: 15px;
	font-family: 'Nanum Gothic', sans-serif;
}