@CHARSET "UTF-8";

.border {
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	margin: 10px 0px 10px 5px;
}

input[type='button'] {
	border: 0 none;
	color: white;
	background-color: #12CC66;
	/*input type='button' 은 배경색이 #12CC66*/
}

input[type='button']:hover {
	transition: 0.3s ease;
	background-color: #0e9d4f;
	/*input type='button' hover 시 #0e9d4f*/
}


.textbox {
	background-color: white;
	border: 1px solid #eee;
	padding: 0px 1.1em;
	width: 200px;
	height: 40px;
	font-size: 13px;
}

.button {
	width: 200px;
	height: 40px;
	border: 0px none;
	font-size: 16px;
}